body {
	font-family: 'Zilla Slab', serif;
	text-align: center;
	background-color: rgb(215,223,113);
	font-color: rgb(8,29,63);
}

#input {
	border: 4px solid rgb(8,29,63);
	padding: 10px;
	margin: 10px 500px;
}

#add-friend {
	border-color: rgb(8,29,63);
	font-color: rgb(8,29,63);
	background-color: rgb(215,223,113);
}

#name {
	border-color: rgb(8,29,63); 
}

#age {
	border-color: rgb(8,29,63);
}